/* ! Base Style */
body{font-family: 'Inter', sans-serif;font-size: 16px;}

a{text-decoration: none;}

h1, h2, h3, h4, h5, p{color: #000; padding-bottom: 30px; line-height: normal;}

.big-text{font-size: 60px;font-weight: 900;}
.med-text{font-size: 40px;}
.normal-text{font-size: 20px;}
.small-text{font-size: 14px;}

.intro-text{text-transform: uppercase;font-size: 20px;font-weight: bold;}

.button{padding: 18px 28px;background: #316bff;color: #fff;display: inline-block;border-radius: 4px;}




/* ! Header */

.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 30px;
    display: flex;
    background: black;
}

.logo {}

.menu {
    width: 100%;  
}

.menu li{display: inline-block;}
.menu li a{color: #fff;padding: 15px;display: block;}


.cta {}

/* ! Hero  */

.hero {
    background: yellow;
    height: 600px;
    display: flex; width: 100%; align-items: center;
}

.hero__content {
    width: 100%;
    max-width: 1350px;
    margin: 0 auto;

}

.image {
    display: block;
    margin: 0 auto;
    background: yellow;
  }


        /* Stile del footer */
        footer {
            background-color: #000;
            color: #fff;
            padding: 20px;
            text-align: center;
            position: absolute;
            bottom: 1;
            width: 100%;
        }

        /* Stile dei link nel footer */
        footer a {
            color: #fff;
            text-decoration: none;
        }

        /* Stile dei link nel footer al passaggio del mouse */
        footer a:hover {
            color: #ccc;
        }

.footer {
    position: absolute;
    bottom: 1;
    width: 100%;
    height: 100px;
    background-color: #fff;
    color: #000;
}

.divisore {
    background: yellow;
}

.prereq {
    background: yellow;
}


*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
  